@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Account account = null;
    User user = null;
    if (Context.Session.GetString("account") != null && Context.Session.GetString("user") != null)
    {
        account = JsonConvert.DeserializeObject<Account>(Context.Session.GetString("account"));
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
    }
}
<style>
    .badge {
        font-size: 14px;
    }

    input {
        border: 1px solid #eb7 !important;
    }

    button {
        border: 1px solid white !important;
        background-color: #eb7 !important;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link" id="home-tab" href="/User/UserDetails" role="tab">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" href="/User/ChangePassword" role="tab">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" href="/User/UserBookingList" role="tab">Booking History</a>
                    </li>
                    <style>
                        li a:hover {
                            color: black !important;
                        }
                    </style>
                </ul>
                <div class="row mt-5 align-items-center">
                    <form action="ChangePassword" method="post">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h3 class="text-danger">@ViewBag.Error</h3>
                                <div class="form-group">
                                    <label class="badge">Old Password</label>
                                    <input type="password" class="form-control" name="pass"  id="inputPassword5" />
                                </div>
                                <div class="form-group">
                                    <label class="badge">New Password</label>
                                    <input type="password" class="form-control" name="newPass" id="inputPassword5" />
                                </div>
                                <div class="form-group">
                                    <label class="badge">Confirm Password</label>
                                    <input type="password" class="form-control" name="reNewPass" id="inputPassword6" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <hr class="my-4" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
