@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Account account = null;
    User user = null;

        account = JsonConvert.DeserializeObject<Account>(Context.Session.GetString("account"));
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
        HotelWebsiteContext context = new();
        var data = context.Accounts.FirstOrDefault(x => x.AccountId == user.AccountId);
}


<style>
    .badge {
        font-size: 14px;
    }

    input {
        border: 1px solid #eb7 !important;
    }

    button {
        border: 1px solid white !important;
        background-color: #eb7 !important;
    }

    .error_mess {
        color: red;
        padding-left: 5px;
    }

    #success_error {
        color: green;
        padding-left: 5px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link" id="home-tab" href="/User/UserDetails" role="tab">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" href="/User/ChangePassword" role="tab">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" href="/User/UserBookingList" role="tab">Booking History</a>
                    </li>
                    <style>
                        li a:hover {
                            color: black !important;
                        }
                    </style>
                </ul>
                <div class="row mt-5 align-items-center">
                    <form action="ChangePassword" method="post">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                
                                <div class="form-group">
                                    <label class="badge">Old Password</label>
                                    <span id="oldpass_error" class="error_mess"></span>
                                    <span class="error_mess" style="color: green; padding-left: 5px; font-size: 14px; font-family:sans-serif;">@ViewBag.error</span>
                                    <input type="password" class="form-control" name="pass" id="oldpass" />
                                </div>
                                <div class="form-group">
                                    <label class="badge">New Password</label>
                                    <span id="newpass_error" class="error_mess"></span>
                                    <input type="password" class="form-control" name="newPass" id="newpass" />
                                </div>
                                <div class="form-group">
                                    <label class="badge">Confirm Password</label>
                                    <span id="repass_error" class="error_mess"></span>
                                    <input type="password" class="form-control" name="reNewPass" id="repass" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" onclick="return validate();" id="btn" class="btn btn-primary">Save Changes</button>
                        <hr class="my-4" />
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    function getValue(id) {
        return document.getElementById(id).value.trim();
    }

    function showError(key, mess) {
        document.getElementById(key + '_error').innerHTML = mess;
    }

    function validate() {
        var flag = true;

        var oldpass = getValue('oldpass');
        var newpass = getValue('newpass');
        var repass = getValue('repass');

        if (oldpass != @data.Password) {
            flag = false;
            showError('oldpass', 'wrong pass!!!');
        } else {
            showError('oldpass', '');
        }


        if (newpass == '' || newpass.length < 5) {
            flag = false;
            showError('newpass', 'input more than 5 and not special character!!!');
        } else {
            showError('newpass', '');
        }


        if (repass != newpass) {
            flag = false;
            showError('repass', 'repass not match!!!');
        }
        else {
            showError('repass', '');
        }

        if (flag == true) {
            showError('success', 'repass success!!!');
        }

        
        return flag;
    }
</script>