@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Account account = null;
    User user = null;
    if (Context.Session.GetString("account") != null && Context.Session.GetString("user") != null)
    {
        account = JsonConvert.DeserializeObject<Account>(Context.Session.GetString("account"));
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
    }
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sona Template" />
    <meta name="keywords" content="Sona, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sona Hotel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Assets/css/style.css" type="text/css" />
</head>

<body>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (+84) 123 456 789</li>
                            <li><i class="fa fa-envelope"></i> sonahotel@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            @if (@user == null)
                            {
                                <a href="/Account/login" class="bk-btn">Login Now</a>
                            }
                            else
                            {
                                <div class="language-option">
                                    <span>@user.Name  </span><i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown" style="padding: 10px 10px">
                                        <ul>
                                            <li><a href="/User/userDetails">My Profile</a></li>
                                            <li><a href="/Account/logout">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/home/index">
                                <img src="/Assets/img/logo.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li><a href="/Home">Home</a></li>
                                    <li>
                                        <a href="/Room?page=1">Rooms</a>
                                    </li>
                                    <li><a href="/Home/About">About Us</a></li>
                                    <li><a href="/Home/Contact">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="/Assets/img/footer-logo.png" alt="" />
                                </a>
                            </div>
                            <p>
                                We inspire and reach millions of travelers<br />
                                across 90 local websites
                            </p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>(+84) 123 456 789</li>
                                <li>sonahotel@gmail.com</li>
                                <li>Hoa Lac, Thach That, Ha Noi, Viet Nam</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email" />
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div style="margin-right:auto; margin-left:auto">
                        <div class="co-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved | This template is made with
                                <i class="fa fa-heart" aria-hidden="true"></i> by
                                <a href="#" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here....." />
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/Assets/js/jquery.nice-select.min.js"></script>
    <script src="/Assets/js/jquery-ui.min.js"></script>
    <script src="/Assets/js/jquery.slicknav.js"></script>
    <script src="/Assets/js/owl.carousel.min.js"></script>
    <script src="/Assets/js/main.js"></script>
</body>
</html>

